        body {
            background-color:black;
        }
        
        p {
            color:#f4f4f4;
            text-align:center;
            font-size:20px;
            font-family:"David Libre", monospace;
            margin-left: 25%;
            margin-right:25%;
           
            
        }
        
        .introduction {
          text-align: center;
          font-size: 18px;
          font-family:"David Libre", monospace;
          
          
        
          }
          .caption {
              width:200px;
              margin:auto;
              font-size: 13px; 
              text-align:center;
              color:#F4F4F4;
              margin-top:5px;
              font-family:"David Libre", monospace;
          }
          .title {
               font-size: 27px; 
               text-align: center;
               color:#F4F4F4;
               font-family:"Fira Code", monospace;
          }
          .header {
              display:flex;
          }
          .top {
              margin-left:auto;
              margin-right:auto;
              font-family:"Fira Code", monospace;
          }
          #url {
              text-decoration:none;
              color:#F0A500;
          }
          #url:visited {
              color:#F0A500;
          }
          #url:hover {
              color:#f4f4f4;
              
          }
              
          .video {
              display:flex;
              justify-content: center;
              align-items: center;
  
          }
          .img-center {
              display:flex;
              justify-content: center;
              align-items: center;
              filter: saturate(150%);
          }
          h1{
              color:#f4f4f4;
              text-align:center;
              font-family:"Fira Code", monospace;
          }
          .game{
               display:flex;
              justify-content: center;
              align-items: center;
          }
          #high{
              color:#F4F4F4;
              text-align:center;
               font-family:"David Libre", monospace;
          }
          .profess{
              margin-left: 25%;
              margin-right:25%;
              font-family:"David Libre", monospace;
          }
          .border{
              border:5px solid #F0A500;
          }
          .bottom{
              margin-left:5%;
              text-align:left;
              font-size:10px;
          }
          table{
              margin-left:auto;
              margin-right:auto;
          }
          th{
            color:#f4f4f4;
            font-family:"David Libre", monospace;
            width:200px;
          }
          tr{
            color:#f4f4f4;
            font-family:"David Libre", monospace;
          }
          .borders{
              border: 2px solid #F0A500;
          }
          tr:hover{
              background-color:#FDDC5C;
              color:black;
          }
          .black:hover{
              background-color:black;
          }
          #best{
              color:#F0A500;
              font-size: 30px;
          }
